<div class="row">
	<div class="col-sm-2">
		<div class="plan_box">
			<h1>
				Plan Free
			</h1>
			<p>No charge</p>
		</div>
	</div>
	<div class="col-sm-2">
		<div class="plan_box">
			<h1>
				Plan Elite
			</h1>
			<p>Plan for the Elites</p>
		</div>
	</div>
	<div class="col-sm-2">
		<div class="plan_box">
			<h1>
				Plan Uber
			</h1>
			<p>Plan for the Ubers</p>
		</div>
	</div>
</div>