Please choose your new plan
<%= render partial: 'plans' %>


<div class="row">
	<div class="col-sm-3 col-sm-offset-3">
		<%= form_tag "/subscriptions" do %>
			<%= collection_select :plan, :stripe_id, @plans, :stripe_id, :name, {} , {class: 'form-control'} %>
			<button type="submit" class="btn btn-primary">Update Subscription</button>
		<% end %>
	</div>
</div>
