@import "bootstrap-sprockets";
@import "bootstrap";
@import "toastr";
@import 'ionicons';
@brand-primary = #F34A53;

body {
	font-family: 'Open Sans', sans-serif;
}

.center {
  text-align: center;
}

.navbar-default {
    background-color: transparent;
    border-color: transparent;
}

.img-home-fix {
	width: 50em;
	display: block;
	margin: auto;
}